*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e5e7e4;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 150px;
    background-image: url(Images/Logo.png);
    background-size: cover;
    background-repeat: none;
}

.add-one{
    font-size: 0.65rem;
    margin-left: 19.5px;
    color: #cccc
}

.add-sec{
    display: flex;
    font-size: 1rem;
}

.nav-search{
    display: flex;
    /* background-color: pink;  */
    width: 600px;  
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 55px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 1rem;
}

.search-select:hover{
    background-color: rgb(201, 199, 199);
}

.search-input{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
}

.search-icon{
    height: 40px;
    width: 50px;
    background-color: rgb(221, 148, 12);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.search-icon:hover{
    background-color: rgb(198, 131, 8);
}

.nav-border{
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-border:hover{
    border: 2px solid rgb(221, 148, 12);
}

.span{
    font-size: 0.75rem;
}

.account{
    font-weight: 700;
}

.nav-cart{
    display: flex;
}

.nav-cart i{
    font-size: 30px;
}

.cart{
    font-weight: 700;
    align-self: last baseline;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* Property */
.prop{
    width: 100%;
    height: 39px;
    background-color: #252c2c;
    display: flex;
    align-items: center; 
}

.properties{
    display: flex;
    color: white;
    align-items: center;
    padding: 5px;
}

.menu{
    display: flex;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.today p{
    display: inline;
    margin-left: 15px;   
}

.today{
    font-size: 0.9rem;  
}

.toy{
    width: 1500;
    height: 380px;
    background-image: url(Images/Background_image2.jpg);
    background-size: cover;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.comment{
    width: 1300px;
    height: 40px;
    background-color: #F5F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
    font-size: 0.9rem;
}

.click{
    text-decoration: none;
    color: #2162A1
}

.click:hover{
    text-decoration: underline;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    /* border: 2px solid black; */
    height: 390px;
    width: 23%;
    margin-top: 15px;
    background-color: white;
}

.tag{
    margin-top: 15px;
    margin-left: 15px
}

.space{
    margin-left: 15px;
    font-size: 0.9rem;
}

.image{
    width: 90%;
    height: 18rem;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trend{
    margin: 15px;
    width: 1490px;
    height: 280px;
    background-color: white;
}

.tag2{
    padding: 10px;
}

.trend-image{
    width: 97%;
    height: 220px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(Images/trends.png);
    background-size: cover;
}

.foot1{
    background-color: #252c2c;
    height: 40px;
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot2{
    background-color: #0f1111;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

ul a{
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
}

.foot-list{
    text-decoration: none;
    color: white;
}

.foot-list:hover{
    text-decoration: underline;
}

.foot2 p{
    font-weight: 700;
}

.foot3{
    background-color: #0f1111;
    height: 80px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    width: 150px;
    height: 50px;
    background-image: url(Images/Logo.png);
    background-size: cover;
}

.foot4{
    background-color: black;
    height: 50px;
    text-align: center;
    font-size: 0.9rem;
}

.foot4 a{
    margin-left: 15px;
}

.copyright{
    margin-top: 10px;
    font-size: 0.7rem;
    color: white;
}